name: Build & Release
on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: "windows-2019"
    steps:
      - uses: actions/checkout@v4
      - name: Install Go
        uses: ./.github/actions/setup-go

      - run: go build ./cmd/dmverity-vhd
      - run: go build ./cmd/dmverity-vhd
        env:
          GOOS: linux
          GOARCH: amd64

      - uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: |
            dmverity-vhd.exe
            dmverity-vhd

  draft_release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: binaries

      - name: Publish draft release
        uses: softprops/action-gh-release@v2.1.0
        with:
          # This is to make sure that the release is not created if a non-rc tag is pushed
          draft: true
          generate_release_notes: true
          files: |
            dmverity-vhd.exe
            dmverity-vhd
